= javascript_tag do
  id = "#{j @user.id.to_s}";
  shoeId = "#{j @shoe.id.to_s}"

.container
  %h1.logo
    seam
    %span.less less

    .central.push
      %h1.welcome Hi. What's your name?
      %input.form-control.inputter{:placeholder => "John Doe", :style => "border:0; height:50px;", :onkeypress => "return runScript(event)"}
      %select.form-control.inputter2{:style => "display:none"}
        %option{value: "one"} Range:
        %option{value: "two"} Men's
        %option{value: "three"} Women's
        %option{value: "four"} Youth Girl
        %option{value: "five"} Unisex's
        %option{value: "six"} Infant
        %option{value: "seven"} Childrens
      %select.form-control.inputter3{:style => "display:none"}
        %option{value: "one"}  Sport:
        %option{value: "two"} Basketball
        %option{value: "three"} Baseball
        %option{value: "four"} Football
        %option{value: "five"} Running
        %option{value: "six"} Swimming
        %option{value: "seven"} Soccer
      %select.form-control.inputter4{:style => "display:none"}
        %option{value: "one"} Music:
        %option{value: "two"} Country
        %option{value: "three"} Electronic
        %option{value: "four"} Pop
        %option{value: "five"} Rock
        %option{value: "six"} Hip-Hop
        %option{value: "seven"} Classical

  .recommendation-section{:style => "display:none"}
    .row
      .col-xs-2.product
        %h3.shoe-price
          = "$" + number_to_currency(@shoe.price)
        %p.shoe-description
          = @shoe.description
        .container
          %a{href:"http://twitter.com/share", class:"twitter-share-button", data:{url:"#{@shoe.seller}", text:"This shoe was Seamlessly recommended for my personality!! Check then out!!!", count:"none", hashtags:"seamless", dnt:"true"}}
            Tweet
        .container
          #fb-root
          .fb-share-button{data:{href:"https://developers.facebook.com/docs/plugins/"}}

      .col-xs-6
        .product
          %h3.shoe-title
            = link_to @shoe.name, @shoe.seller
          .jumbotron.central
            = image_tag @shoe.url, :class => "shoe-image"
      .col-xs-2
        .vote-section
          .jumbotron.null-padder.vote{:onclick => "fadeOutImage('fadeOutUp')"}
            .padder
              = image_tag "up.png", :class => "vote-button"
          .jumbotron.null-padder.vote{:onclick => "fadeOutImage('fadeOutDown')"}
            .padder
              = image_tag "down.png", :class => "vote-button"

:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
